.calendars {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.calendarbox {
    display: grid;
    justify-content: center;
    background: rgb(230, 230, 253);
    padding-bottom: 50px;
    margin: 10px;
    border-radius: 20px;
}

.container_pagination {
    display: grid;
    justify-content: center;
}

.pagination {
    cursor: pointer;
}

.listcalendars {
    text-align: center;
}

.filter {
    margin-bottom: 20px;
}