<body>{{errors}}
    <!--##################################################
        This is the calendar the client will use to choose
        to assign a consult or configure things 
    #####################################################-->
    <div class="calendar">
        <div class="calendar__top">
            <a [ngClass]="{'noOpacity':currentMonthObj.number == 1}" (click)="currentMonthObj.number != 1 && changeMonth(-1)">&#60;Previous Month</a>
            <h1 class="title">{{calendar.name}}</h1>
            <a [ngClass]="{'noOpacity':currentMonthObj.number == 12}" (click)="currentMonthObj.number != 12 && changeMonth(1)">Next Month&#62;</a>
        </div>
        <div class="month">
        {{currentMonthObj.month}}
        <!--############################################################################
            This will use a loop to generate the days depending on the current month,
            also will declare the class deppending on Extras factor and the currentDate,
            last will assign the function.
        ################################################################################-->
            <div *ngFor="let Date of generateCurrentMonth()" 
            [ngClass]="{'day': Date.day != 0,
                        'cantBe': inOnMonth(Date),
                        'canBe': !inOnMonth(Date) && Date.day != 0,    
                        'today': Date.day == currentDayNumber && Date.month == OriginalcurrentMonthNumber}" 
            (click)="!inOnMonth(Date) && Date.day != 0 && clickDay(Date)"
            >
                <!-- #################################################
                    This will print the day avoiding the number 1,
                    We will have to use a component to print each day.
                    #####################################################-->
                <span *ngIf="Date.day != 0">
                    {{Date.day}}
                </span>
            </div>
        </div>
    </div>
    <app-modal-preview [data]="modalData" [type]="calendarModal" [shown]="showModal" (setShown)="setShown(x)"></app-modal-preview>
</body>