<div>
    <h2>Horario</h2>
    <div>
        <h3>Mañana</h3>
        <!-- Loop using the hours -->
        <div *ngFor="let i of (parseDate(timeMorningEnd).getHours() - parseDate(timeMorningStart).getHours()) | fill, let a =index">
            <span [ngClass]="{
                }">
                {{addZeroBefore(parseDate(timeMorningStart).getHours()+a)}}:{{addZeroBefore(parseDate(timeMorningStart).getMinutes())}}
                <app-subscribeButton 
                    [calendar]="calendarData" 
                    [date]="clickDay" 
                    [hora]="addZeroBefore(parseDate(timeMorningStart).getHours()+a)+':'+addZeroBefore(parseDate(timeMorningStart).getMinutes())" 
                    [dates]="nullDates"></app-subscribeButton>
            </span>
    </div>
        <h3>Tarde</h3>
        <div *ngFor="let i of (parseDate(timeEveningEnd).getHours() - parseDate(timeEveningStart).getHours()) | fill, let a =index">
            <span [ngClass]="{
                }">
                {{addZeroBefore(parseDate(timeEveningStart).getHours()+a)}}:{{addZeroBefore(parseDate(timeEveningStart).getMinutes())}}
                <app-subscribeButton
                    [calendar]="calendarData" 
                    [date]="clickDay" 
                    [hora]="addZeroBefore(parseDate(timeEveningStart).getHours()+a)+':'+addZeroBefore(parseDate(timeEveningStart).getMinutes())" 
                    [dates]="nullDates"></app-subscribeButton>
            </span>
        </div>
    </div>
</div>