.noOpacity{
    opacity: 0;
    cursor: default !important;
}
body{
    height: 1vw;
}
:hover{
    transition-duration: 1s;
}
.calendar__top{
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template-columns: auto 1fr auto;
}
.calendar__top a{
    align-self: center;
    cursor: pointer;
}
.calendar__top a:hover{
    color: white;
    background-color: black;
    border-radius: 5px;
}   
.title{
    font-size: 8vw;
}
/**################################
 * Dispalyment for Calendar
##################################*/
.calendar{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
}
/**################################
 * Dispalyment for Month
##################################*/
.month {
    display: grid;
    grid-gap: 2px;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
/**################################
 * Dispalyment for Days
##################################*/
.day{
    border: 0.5px dashed black;
}
/*$$$$  When a day CAN be targeted   $$$$*/
.canBe{
    background-color: white;
}
.canBe:hover {
    background-color: aquamarine;
}
/*$$$$  When a day CAN'T be targeted   $$$$*/
.cantBe {
    background-color: grey;
}
.cantBe:hover {
    background-color: grey;
}
/*$$$$  Assign the current day $$$$*/
.today{
    border:2px solid red;
}