<h1>List Calendar</h1>
<div class="listcalendars">
    <input class="filter" placeholder="Search calendar" (keyup)="onKey($event)">
    <div id="container_calendars">
        <ul class="calendars">
            <div *ngFor="let calendar of calendarsToLoad" class="calendarbox">
                <li class="nav-item">
                    <a class="nav-link"
                    routerLink="/calendar/{{calendar.slug}}">
                    {{calendar.name}}
                    </a>
                </li>
            </div>
        </ul>
    </div>
    <nav [hidden]="loading || totalPages.length <= 1" class="container_pagination">
        <ul class="pagination">
        
            <li class="page-item"
            [ngClass]="{'active': pageNumber === currentPage}"
            *ngFor="let pageNumber of totalPages"
            (click)="setPageTo(pageNumber)">
        
            <a class="page-link" >{{ pageNumber }}</a>
        
            </li>
        
        </ul>
    </nav>
</div>
