<!--  Modal -->
<div id="myModal" class="modal"
[ngClass]="{'block': modalShow,
            'hidden': !modalShow}"
(click)="!closeModalOutside($event)"
>
    <!-- Modal content -->
    <div class="modal-content">
        <span class="close" (click)="closeModal()">&times;</span>
        <div [ngSwitch]="type">
            <app-calendarModal *ngSwitchCase="calendarModal" [data]="dataSelected"></app-calendarModal>
        </div>
    </div>
</div>