<div class="contact-page">
    <div class="container page">
      <div class="row">
        <div class="col-md-10 offset-md-1 col-xs-12">
            <app-list-errors [errors]="errors"></app-list-errors>

            <form name="form" (ngSubmit)="f.form.valid && submitForm()" #f="ngForm" novalidate>
                <div class="form-group">
                    <label for="name">Your Name</label>
                    <input  type="text" 
                            class="form-control" 
                            name="name" 
                            [(ngModel)]="contactForm.name" 
                            #name="ngModel" 
                            [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" 
                            required />
                    
                    <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
                        <div *ngIf="name.errors.required">Name is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input  type="text" 
                            class="form-control" 
                            name="email" 
                            [(ngModel)]="contactForm.email" 
                            #email="ngModel" 
                            [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" 
                            required 
                            email />

                    <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                        <div *ngIf="email.errors.required">Email is required</div>
                        <div *ngIf="email.errors.email">Email must be a valid email address</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="message">Message</label>
                    <textarea
                                class="form-control"
                                name="message"
                                [(ngModel)]="contactForm.message"
                                #message="ngModel"
                                [ngClass]="{ 'is-invalid': f.submitted && message.invalid }" 
                                required></textarea>

                    <div *ngIf="f.submitted && message.invalid">
                        <div *ngIf="message.errors.required">Message is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary">Register</button>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>
  