<span [ngSwitch]="state">
    <button 
        *ngSwitchCase="false"
        [ngClass]="{
            dayBlock : state
        }"  
        (click)="subscribe()">Subscribe</button>
    <button 
        *ngSwitchCase="true" 
        [ngClass]="{
            dayBlock : state
        }"  
        (click)="subscribe()"
        [disabled]="!checkBlock(horaData)">UnSubscribe</button>
    </span>